<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>418777961141-v7of8j41dka2kq4m9ebrksluc7u3t3m4.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.418777961141-v7of8j41dka2kq4m9ebrksluc7u3t3m4</string>
	<key>API_KEY</key>
	<string>AIzaSyBMtdHnI60JMa4EAppc3pRmYKalW6EXnug</string>
	<key>GCM_SENDER_ID</key>
	<string>418777961141</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>EOS.EOS-Standards</string>
	<key>PROJECT_ID</key>
	<string>eosstandards</string>
	<key>STORAGE_BUCKET</key>
	<string>eosstandards.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:418777961141:ios:c2e536b8dff6263e66e4fc</string>
	<key>DATABASE_URL</key>
	<string>https://eosstandards.firebaseio.com</string>
</dict>
</plist>